.app-shell {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.app-footer {
    padding: 3em 1em 0 0;
    min-height: 100px;
    position: relative;
}

.app-footer .copyright {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: smaller;
}

.pull-right {
    position: absolute;
    right: 0;
}
